@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #fff;
    color: #000;
    font-weight: normal;
}

body{
    background-color: #15202B;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #2563EB;
    transition: 0.3s ease;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #FEFEFE;
  }
